#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 <div class="contanier">
<div class-"page-header col-lg-12 col-sm-12col-xs-12"id-"contactUs">
<h2 class="text- capitalize " ">Contact Us</h2>
</div>

</div id_"map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14678.627808661498!2d72.590561!3d23.1096505!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41b01af26414c192!2sPodar%20International%20School%20Chandkheda%2C%20Ahmedabad!5e0!3m2!1sen!2sin!4v1633434678251!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div id = "details">
<img src="<iframe width="994" height="559" src="https://www.youtube.com/embed/O2Muh-kCQ3s"
<h3>Principal name : sreenarayan palatchirakkara </h3>
<h4>mr.Xavier john Dcosta </h4>
<div class-"contact_1"  >
<a     href="mailto:admin.ahmedabad@podar.org">
<h5<i class ="fa fa envelope">< /i>&nbsp;admin.ahmedabad@podar.org</h5>
    </a>
    <a href-"#">
    <h5><i class= "fa fa- phone-square">< /i>&nbsp;991600/ h5
</a>
</div>
</div>
</div>